<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body style="background-color: lightblue;">
    <div class="container text-center">
      <h1>Will Peoples</h1>
      <h3>Introduction:</h3>
      <p>I am the author of this password generator page and am also graduate from the
         business school at Boston College. I majored in information systems because I
         could see that the world was becoming more and more technology-based by the day.
         When deciding my major, I knew that this would be a key opportunity for me to learn
         about topics that would definitely be helpful down the line and throughout my adult
         life in this technological world. I was right. Thank God I got a decent technology
         background as a young person. This way I won't be so lost as the world only continues
         to barrel in that direction. I will be ahead of the curve, in fact. I am very proud
         I invested in my future self (business-wise and technology-wise). I am one lucky man.
      </p>
      <a href="{% url 'home' %}"><button class="btn" style="background-color: lightgreen;">Back to Home Page</button></a>
    </div>
  </body>
</html>
