<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container text-center">
      <h1 style= 'color: green;'>Password Generator</h1>

      <form action="{% url 'password' %}"> <!-- this submitted form goes to the url named "password" in urls.py -->
  <!-- Dropdown menu -->
        <select name="length">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12" selected="selected">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
        </select> Length
  <!-- Checkboxes -->
        <br>
        <input type="checkbox" name="uppercase"> Uppercase
        <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <input type="checkbox" name="special"> Special Characters
        <br>
        <input type="submit" value="Generate Password" class="btn btn-primary">
      </form>
    </div>


  </body>
</html>
